﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Souhrnné informace o průběhu koronavirové epidemie v České republice a zbytku světa s interaktivními grafy, mapou a predikčními modely." />
    <meta name="keywords" content="koronavirus,koronavir,graf,mapa,epidemie,informace,předpověď,predikce" />
    <meta name="author" content="Richard Ivánek,Jan Střeleček,Daniel Herman,Jakub Novotný,Daniel Rod" />
    <title>@ViewData["Title"] - KoronaInfo.cz</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.used.min.css?ver=2" />
    <link rel="stylesheet" href="~/css/site.css?ver=1" />
    <link rel="stylesheet" href="~/lib/leaflet/dist/css/leaflet.css" />
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script async src="~/lib/leaflet/dist/js/leaflet.js"></script>
    <script async onload="$(window).trigger('plotly')" src="~/lib/plotly/dist/plotly-latest.min.js"></script>

    <script>
    const logIcon = {
        width: 1000,
        height: 1000,
        path: "m 309,174 v -32 h -27 v -13 h 43 v 52 c -13,8 -28,13 -45,13 -51,-3 -60,-39 -60,-63 0,-26 15,-62 60,-63 17,0 31,4 42,11 v 17 c -10,-8 -24,-15 -41,-15 -41,2 -44,32 -44,49 0,20 9,49 44,49 23.02311,0.52906 22.89664,-1.25985 28,-5 z M 144,80 c -36,3 -39,33 -39,50 0,17 6,49 39,49 36,-3 38,-33 39,-49 0,-17 -6,-49 -39,-50 z m 0,-13 c 48,4 56,41 56,63 0,24 -12,62 -56,63 -49,-3 -57,-40 -57,-63 1,-24 13,-63 57,-63 z M 7,69 h 16 v 108 h 59 v 13 H 7 Z",
        transform: 'matrix(3 0 0 4 0 0)'
    }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <a class="navbar-brand" asp-area="" asp-page="/Index">KoronaInfo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Přehled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Predictions">Predikce</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/About">O stránce</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container-fluid">
            &copy; 2020 - KoronaInfo.cz
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
