@model Data.WorldData

@{
    var dayLabels = Model.Daily.Select(d => d.Date.ToString("yyyy-MM-dd"));
}

<div class="card w-100">
    <div class="card-body d-flex flex-column">
        <span class="mb-auto">
        <div class="card-title"><h4>Svět</h4></div>
        <div class="card-subtitle mb-2 text-muted">Souhrnné informace</div>
        <div>Nakažených: <span class="font-weight-bold text-warning">@Model.Cases.Pretty()</span></div>
        <div>Mrtvých: <span class="font-weight-bold text-danger">@Model.Deaths.Pretty()</span></div>
        <div>Uzdravených: <span class="font-weight-bold text-success">@Model.Recoveries.Pretty()</span></div>
        </span>
        @(await Component.InvokeAsync("Plot", new Plot() {
            Id = "graph-world",
            YAxis = "Počet",
            TraceGroupGap = 0,
            // XRange = (dayLabels.ElementAt(14), DateTime.Today.AddDays(1).ToString("yyyy-MM-dd"))
            Data = PlotUtils.DisconnectFirst(dayLabels, Model.Daily.Select(d => (object)d.Cases), "Pozitivních", "dnes", "p", "#F39C12").Concat(
                   PlotUtils.DisconnectFirst(dayLabels, Model.Daily.Select(d => (object)(d.Cases - d.Deaths - d.Recoveries)), "Aktuálně nemocných", "dnes", "ap", "#6f42c1", 1, PlotLine.DashMode.Dot)).Concat(
                   PlotUtils.DisconnectFirst(dayLabels, Model.Daily.Select(d => (object)d.Deaths), "Mrtvých", "dnes", "d", "#E74C3C")).Concat(
                   PlotUtils.DisconnectFirst(dayLabels, Model.Daily.Select(d => (object)d.Recoveries), "Uzdravených", "dnes", "r", "#00bc8c"))
        }))
    </div>
    <div class="card-footer">
        <div class="card-text">Zdroj: <a class="link" href=@Html.Raw(Json.Serialize(Model.Source.SourceURL))>@Model.Source.SourceName</a></div>
    </div>
</div>