@model Data.ICountryData
@{
    var hasTestedData = Model.Daily.Any(d => d.Tested.HasValue);
    var dayLabels = Model.Daily.Select(d => d.Date.Plotly());
    var yTop = Math.Min(Model.Daily.First().Cases * 1.1f, Model.Daily.Where(d => d.Tested.HasValue).First().Tested.Value);
    var id = ViewData["id"];
}
<div id="card-country-@id" class="card w-100 @(ViewData["class"] ?? string.Empty)">
    <div class="card-body">
        <div class="card-title row" style="margin-bottom: 0"><h4 class="col">@Model.Intel.DisplayName</h4><div class="col text-right"><a class="btn btn-link" id="btn-header-@id"></a></div></div>
        <div class="card-subtitle mb-2 text-muted">Souhrnné informace</div>
        @if (hasTestedData) { <div>Testovaných: <span class="font-weight-bold text-primary">@((Model.Tested ?? 0).Pretty())</span></div> }
        <div>Pozitivních: <span class="font-weight-bold text-warning">@(Model.Cases.Pretty())</span></div>
        <div>Mrtvých: <span class="font-weight-bold text-danger">@(Model.Deaths.Pretty())</span></div>
        <div>Uzdravených: <span class="font-weight-bold text-success">@(Model.Recoveries.Pretty())</span></div>
        @(await Component.InvokeAsync("Plot", new Plot() {
            Id = $"graph-{id}",
            YAxis = "Počet",
            TraceGroupGap = 0,
            XRange = (Model.Daily.Last(d => d.Cases > 0).Date.Plotly(), DateTime.Today.AddDays(1).Plotly()),
            YRange = ((int)(-0.1f * yTop), yTop),
            Data = PlotUtils.DisconnectFirst(dayLabels, Model.Daily.Select(d => (object)(d.Tested ?? 0)), "Testovaných", "dnes", "t", "rgb(0, 123, 255)").Concat(
                   PlotUtils.DisconnectFirst(dayLabels, Model.Daily.Select(d => (object)d.Cases), "Pozitivních", "dnes", "p", "#F39C12")).Concat(
                   PlotUtils.DisconnectFirst(dayLabels, Model.Daily.Select(d => (object)(d.Cases - d.Deaths - d.Recoveries)), "Aktuálně nemocných", "dnes", "ap", "#6f42c1", 1, PlotLine.DashMode.Dot)).Concat(
                   PlotUtils.DisconnectFirst(dayLabels, Model.Daily.Select(d => (object)d.Deaths), "Mrtvých", "dnes", "d", "#E74C3C")).Concat(
                   PlotUtils.DisconnectFirst(dayLabels, Model.Daily.Select(d => (object)d.Recoveries), "Uzdravených", "dnes", "r", "#00bc8c"))
        }))
    </div>
    <div class="card-footer">
        <div class="card-text">Zdroj: <a class="link" href=@Html.Raw(Json.Serialize(Model.Source.SourceURL))>@Model.Source.SourceName</a></div>
    </div>
</div>