﻿/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#worldmap {
  min-height: 370px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent !important
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(120, 120, 120, 120);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
  border-color: transparent
}

:root{
  scrollbar-color: rgba(120, 120, 120, 120) transparent !important;
  scrollbar-width: 8px !important;
}

.loader-box {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;

  width: 100%;
  justify-content: center;
  align-items: center;
}

.no-pointer {
  pointer-events: none;
}