﻿@page
@model AboutModel
@{
    ViewData["Title"] = "O nás";
}


<div class="row">
    <div class="col-xl-4 mb-3 d-flex align-items-stretch">
        <div class="card w-100 overflow-hidden">
            <div class="card-body">
                <div class="card-title"><h4>Informace o stránce</h4></div>
                <p class="card-text">
                Cílem projektu je poskytnout lidem ověřené informace ohledně viru COVID-19 rozšiřujícího se počátkem roku 2020 z Čínské provincie Wu-chan. Informace o vývoji této nákazy by měly být snadno dostupné a jejich správnost ověřitelná u národních, či nadnárodních orgánů. Pokud najdete jakoukoli chybu na této stránce, neváhejte nás kontaktovat na emailové adrese <a href = "mailto: koronainfo2020@seznam.cz ">koronainfo2020@seznam.cz</a>. Data jsou stahována z ověřených zdrojů a k žádné manipulaci z naší strany nedochází. Nevylučujeme však, že v libovolném z našich skriptů může dojít k chybě, proto doporučujeme při jakékoli pochybnosti navštívit recenzovaný zdroj.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 mb-3 d-flex align-items-stretch text-center">
        <div class="card w-100">
            <div class="card-body p">
                <div class="card-title"><h4>Autoři projektu</h4></div>
                    <center> 
                    <ol style="list-style-type: none;">
                        <li>Richard Ivánek</li>
                        <li>Daniel Herman</li>
                        <li>Daniel Rod </li>
                        <li>Jan Střeleček </li>
                        <li>Jakub Novotný </li>
                        <li>Michal Grňo </li>
                    </ol>
                    </center>
            </div>
        </div>
    </div>
    <div class="col-xl-4 mb-3 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p">
                <div class="card-title"><h4>Donate</h4></div>
                <p class="card-text">
                Tento projekt vzniká ze zájmu několika studentů MFF UK o predikce koronaviru. V žádném případě nebude stránka monetizována, ani ve formě reklamy. Má být informativního charakteru a profitovat ze strachu obyvatelstva je proti našim hodnotám. Pokud však chcete přispět na běh serveru, na další projekty nebo nám prostě jen koupit kafe, můžete tak učinit převodem na účet 2101003349/2010 nebo na následujícím odkaze:
                </p>
                <style>.bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 10px 7px 10px !important;line-height: 35px !important;height:51px !important;min-width:217px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#000000 !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 10px 7px 10px !important;font-size: 28px !important;letter-spacing:0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}</style><link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/18vWMac"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Kupte nám kafe"><span style="margin-left:15px;font-size:28px !important;">Kupte nám kafe</span></a>
            </div>
        </div>
    </div>
</div>
