@page
@model DebugModel
@{
#if DEBUG
    <table class="table">
        <tbody>
            @foreach (var c in Model.Data) {
                <tr>
                    <td>@c.Intel.DisplayName</td>
                    <td>@c.Cases</td>
                    <td>@c.Deaths</td>
                    <td>@c.Recoveries</td>
                </tr>
            }
        </tbody>
    </table>
#endif
}