﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Přehled";
}

@{
    var markers = Model.GlobalData.Where(d => d.Intel != null && d.Intel.Regions == null).Select(d => new {
        id = d.Intel.DisplayName,
        cases = d.Cases,
        deaths = d.Deaths,
        recoveries = d.Recoveries,
        x = d.Intel.X,
        y = d.Intel.Y,
    });

    var polygons = Model.GlobalData.Where(d => d.Intel != null && d.Intel.Regions != null).SelectMany(d => d.Intel.Regions.Select(r => new {
        id = r.ID,
        display = r.DisplayName,
        cases = Model.CzechData.Regional.First(rr => rr.ID == r.ID).Cases,
        deaths = 0,
        recoveries = 0,
    }));
}

@if (!string.IsNullOrWhiteSpace(Model.DangerNotice))
{
    <div class="row">
        <div class="col mb-3">
            <div class="card w-100 bg-danger">
                <div class="card-body ">
                    <div class="card-text">@Html.Raw(Model.DangerNotice)</div>
                </div>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.WarningNotice))
{
    <div class="row">
        <div class="col mb-3">
            <div class="card w-100 bg-warning">
                <div class="card-body ">
                    <div class="card-text">@Html.Raw(Model.WarningNotice)</div>
                </div>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.InfoNotice))
{
    <div class="row">
        <div class="col mb-3">
            <div class="card w-100 bg-info">
                <div class="card-body ">
                    <div class="card-text">@Html.Raw(Model.InfoNotice)</div>
                </div>
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-md-6 col-xl-4 mb-3 d-flex align-items-stretch">
    @(await Component.InvokeAsync("CountryWidget", new { data = Model.CzechData, id = "cr" }))
    @* @(await Component.InvokeAsync("CountryWidget", new { data = Model.SlovakianData, id = "sk", className = "d-none" })) *@
    </div>
    
    <div class="col-md-6 col-xl-4 mb-3 d-flex align-items-stretch order-xl-2">
    @(await Component.InvokeAsync("WorldWidget", new { data = Model.WorldData }))
    </div>
    
    <div class="col-xl-4 mb-3 d-flex align-items-stretch order-xl-1">
        <div class="card w-100">
            <div class="card-body p-0">
                <div id="worldmap" class="h-100 d-flex">
                    <div class="loader-box">
                        <div class="loader-text">Mapa se načítá...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 mb-3 d-flex align-items-stretch">
        <div class="card w-100 overflow-hidden">
            <div class="card-body">
                <div class="card-title"><h4>Tendence v Česku</h4></div>
                @{
                    var dailyRatios = new List<(DateTime, float?, float?, float?)>();
                    {
                        var d = Model.CzechData.Daily.ToArray();

                        for (int i = 0; i < d.Length - 1; ++i)
                        {
                            var ratioI = d[i + 1].Cases == 0 ? null : (float?)d[i].Cases / d[i + 1].Cases;
                            var ratioT = (d[i + 1].Tested ?? 0) == 0 ? null : (float?)(d[i].Tested ?? 0) / d[i + 1].Tested.Value;
                            var ratioIT = (d[i].DeltaTested ?? 0) != 0 ? (float?)(100f * d[i].DeltaCases / (float)d[i].DeltaTested) : null;

                            dailyRatios.Add((d[i].Date, ratioI, ratioT, ratioIT));
                        }
                    }
                }
                @(await Component.InvokeAsync("Plot", new Plot() {
                    Id = $"graph-day-ratios-p",
                    YAxis = "%",
                    Height = 225,
                    XRange = (dailyRatios.Take(21).Last().Item1.Plotly(), DateTime.Today.AddDays(1).Plotly()),
                    YRange = (-1, Math.Max(5, 1.1f * dailyRatios.Take(21).Max(d => d.Item4  ?? 0))),
                    Data = PlotUtils.DisconnectFirst(dailyRatios.Select(d => (d.Item1.Plotly(), (object)d.Item4)), "Procento pozitivních denních testů", "dnes", "it", "orange"),
                }))
                @(await Component.InvokeAsync("Plot", new Plot() {
                    Id = $"graph-day-ratios",
                    // Title = "null",
                    YAxis = "Poměr",
                    Height = 225,
                    XRange = (dailyRatios.Take(21).Last().Item1.Plotly(), DateTime.Today.AddDays(1).Plotly()),
                    YRange = (0.9f, Math.Max(1.25f, 1.1f * Math.Max(dailyRatios.Take(21).Max(d => d.Item2 ?? 1), dailyRatios.Take(21).Max(d => d.Item3 ?? 1)))),
                    Data = PlotUtils.DisconnectFirst(dailyRatios.Select(d => (d.Item1.Plotly(), (object)d.Item2)), "Poměr pozitivních ku včerejšku", "dnes", "i", "#F39C12").Concat(
                        PlotUtils.DisconnectFirst(dailyRatios.Select(d => (d.Item1.Plotly(), (object)d.Item3)), "Poměr testovaných ku včerejšku", "dnes", "t", "#007bff")
                    )
                }))
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-3 d-flex align-items-stretch">
        <div class="card w-100 overflow-hidden">
            <div class="card-body">
                <div class="card-title"><h4>Denní stav v Česku</h4></div>
                @if (Model.CzechData.Daily != null && Model.CzechData.Daily.Count() > 0) {
                    <div class="table-responsive mt-3" style="max-height: 390px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Den</th>
                                <th>Testovaných</th>
                                <th>Pozitivních</th>
                                <th>Mrtvých</th>
                                <th>Uzdravených</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach(var day in Model.CzechData.Daily) {
                            <tr>
                                <td>@day.Date.ToString("d.M.yyyy")</td>
                                <td>@((day.Tested ?? 0).Pretty()) (+@(day.DeltaTested.HasValue ? day.DeltaTested.Value.Pretty() : "N/A"))</td>
                                <td>@day.Cases.Pretty() (+@day.DeltaCases.Pretty())</td>
                                <td>@day.Deaths.Pretty() (+@day.DeltaDeaths.Pretty())</td>
                                <td>@day.Recoveries.Pretty() (+@day.DeltaRecoveries.Pretty())</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    </div>
                } else {
                    <hr/>
                    <span>Nejsou dostupná denní data</span>
                }
            </div>
            <div class="card-footer">
                <div class="card-text">Zdroj: <a class="link" href="https://onemocneni-aktualne.mzcr.cz/covid-19">MZČR</a></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 mb-3 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p">
                <div class="card-title"><h4>Podrobnější informace z Česka:</h4></div>
        
                <ol style="list-style-type: disc;">
                <li><h6><a href="https://onemocneni-aktualne.mzcr.cz/covid-19">Přehled situace v ČR: COVID-19 od ministerstva zdravotnictví</a></h6></li>
                </ol>
                @* <h6><a href="http://www.szu.cz/uploads/documents/chzp/voda/pdf/Stanovisko_NRC_coronaviry_a_pitna_voda.pdf">Stanovisko NCR o (ne)přenosu SARS-CoV-2 pitnou vodou</a></h6> *@
                @*<h6><a href="https://ct24.ceskatelevize.cz/specialy/3037207-koronavirus">Zprávy ČT24/koronavirus</a></h6> *@
            </div>
            <div class="card-body p">
                <div class="card-title"><h4>Podrobnější informace ze světa:</h4></div>
                <ol style="list-style-type: disc;">
                    <li><h6> <a href="https://www.worldometers.info/coronavirus/">Stav ve světě s podrobnými statistikami na worldometers.info</a></h6></li>
                    <li><h6><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">World Health Organization</a></h6></li>
                </ol>
                @*<h6><a href="https://www.ecdc.europa.eu/en/coronavirus">European Centre for Disease Prevention and Control</a></h6> *@
            </div>
            <div class="card-body p">
                <div class="card-title"><h4>Aktualizace</h4></div>
                Tato stránka kontroluje každých 15 minut informace na stránkách <a class="link" href="https://onemocneni-aktualne.mzcr.cz/covid-19">MZČR</a> a <a href="https://www.worldometers.info/coronavirus/">Worldometers.info</a>. Počty testovaných jsou zveřejňovány vždy s denním zpožděním. Data k mapě jsou načítána z Worldometers.info, s výjimkou Česka. Součet nakažených v krajích neobsahuje veškeré případy, jelikož MZČR do krajů započítává pouze případy ověřené. Oba servery aktualizují informace několikrát denně, podrobnosti naleznete na příslušných odkazech. 
            </div>
        </div>
    </div>
    <div class="col mb-3 d-flex">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title"><h4>Prevence a podezření na nákazu</h4></div>
                Pokud máte horečku, která trvá déle než dva dny, nebo suchý kašel bez horečky, kontaktujte telefonicky svého praktického lékaře. Pokud máte pouze horečku po dobu kratší než dva dny, pravděpodobně se nejedná o koronavirus. V takovém případě zůstaňte v domácí karanténě, nadále se sledujte a užívejte léky proti horečce, nebo si dejte čaj s medíkem. Pokud se vám špatně dýchá, nebo máte horečku a současně suchý kašel, volejte ihned linku 155 a postupujte podle instrukcí operátora.
                Více na <a class="link" href="https://koronavirus.mzcr.cz/mam-zdravotni-potize-co-mam-delat/">stránkách MZČR</a>.
            </div>
            <div class="card-body p">
                <div class="card-title"><h4>Počty nakažených</h4></div>
                Udávané počty nakažených se mohou od těch skutečných lišit. Více informací můžete nalézt na <a href="https://www.okoronaviru.cz/">Informační stránce o koronaviru</a>, jejíž tvůrci se starají o správnost jimi poskytovaných dat.
            </div>
        </div>
    </div>
</div>

<script async src="~/js/regions.js"></script>
<script>
/* $("#btn-header-cr").text("Slovensko").click(b => {
    $("#card-country-cr").addClass("d-none");
    $("#card-country-sk").removeClass("d-none");
    window.dispatchEvent(new Event('resize'));
});
$("#btn-header-sk").text("Česko").click(b => {
    $("#card-country-sk").addClass("d-none");
    $("#card-country-cr").removeClass("d-none");
    window.dispatchEvent(new Event('resize'));
}); */

var worldmap;

const markers = JSON.parse('@Html.Raw(Json.Serialize(markers))');
const polygons = @Html.Raw(Json.Serialize(polygons));

$(window).one('load', () => {
    if (typeof L === 'undefined') {
        $('#worldmap').find('.loader-text').html('Knihovnu Leaflet se nepodařilo načíst');
        return;
    } else {
        $('#worldmap').html('');
    }

    // Style fix
    L.Icon.Default.prototype.options.shadowSize = [0,0];

    worldmap = L.map("worldmap", {
        dragging: !L.Browser.mobile,
        tap: !L.Browser.mobile
    }).setView([49.78, 15.338638], 6);

    // 'https://{s}.basemaps.cartocdn.com/{style}/{z}/{x}/{y}.png' '© CARTO © OpenMapTiles © <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    L.tileLayer('https://stamen-tiles.a.ssl.fastly.net/{style}/{z}/{x}/{y}.png', {
        style: 'toner',
        maxZoom: 18,
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.'
    }).addTo(worldmap);

    markers.forEach(c =>
        L.marker([c.x,c.y])
            .addTo(worldmap)
            .bindPopup(L.popup({ autoPan: false }).setContent(`<h4>${c.id}</h4><p><div>Nakažených: ${c.cases}</div><div>Mrtvých: ${c.deaths}</div><div>Uzdravených: ${c.recoveries}</div></p>`))
            .on('mouseover', function() { !L.Browser.mobile && this.openPopup() })
            .on('mouseout', function() { !L.Browser.mobile && this.closePopup() })
    );

    polygons.forEach(c =>
        L.polygon(regionPolygons[c.id])
            .addTo(worldmap)
            .bindPopup(L.popup({ autoPan: false, className: 'no-pointer' }).setContent(`<h4>${c.display}</h4><p><div>Nakažených: ${c.cases}</div></p>`))
            .on('mouseover', function() { !L.Browser.mobile && this.openPopup() })
            .on('mouseout', function() { !L.Browser.mobile && this.closePopup() })
    );
});
</script>