@page
@model PredictionsModel
@{
    ViewData["Title"] = "Predikce";
}
<div class="row">
    <div class="col mb-3">
        <div class="card w-100" style="background-color: #3498DB">
            <div class="card-body">
                <div class="card-text">
                U všech modelů jsou vyznačeny konfidenční intervaly σ, tedy spolehlivosti 68,3%. Jsou to však konfidenční intervaly daného modelu, ne dané situace. Bohužel konfidenční intervaly konfidenčních intervalů neznáme.<br>
                <small>Jsme pouze studenti fyziky, ne epidemiologové. Přistupujte tedy, prosím, k těmto predikcím s rezervou.</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6 mb-3 d-flex">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title"><h4>Model STIRD pro ČR<a href="#about-stird">?</a></h4></div>
                @{
                    // var availableDays = Model.PrimaryCountry.Daily.Where(d => Model.SIRCzech.Any(i => i.Date == d.Date));
                    var availableDays = Model.PrimaryCountry.Daily.Skip(1);
                    var todaySir = Model.PrimaryCountry.Daily.First();
                    var sirPreviewEnd = Model.STIRDCzech.Select(d => d.Date).Max();
                }
                @(await Component.InvokeAsync("Plot", new Plot() {
                    Id = "graph-stird-cr",
                    // Title = "null",
                    YAxis = "Počet",
                    Height = 640,
                    XRange = (Model.STIRDCzech.First().Date, sirPreviewEnd.ToString("yyyy-MM-dd")),
                    YRange = (0, Model.STIRDCzech.Where(d => d.Date < sirPreviewEnd).Select(d => d.DataI).Union(Model.PrimaryCountry.Daily.Where(d => d.Date < sirPreviewEnd).Select(d => (float)(d.Cases - d.Recoveries - d.Deaths))).Max() * 1.2f),
                    Data = new PlotData[] {
                        new PlotData() {
                            Name = "Skutečně nemocných",
                            Line = new PlotLine { Color = "#6f42c1" },
                            Marker = new PlotMarker { Size = 10 },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "i",
                            HoverInfo = "x+text",
                            X = availableDays.Select(d => d.Date.Plotly()),
                            Y = availableDays.Select(d => (object)(d.Cases-d.Deaths-d.Recoveries)),
                            Texts = availableDays.Select(d => $"Skutečně nemocných: {(d.Cases-d.Deaths-d.Recoveries).Pretty()}")
                        },
                        new PlotData() {
                            Name = "Skutečně mrtvých",
                            Line = new PlotLine { Color = "#E74C3C" },
                            Marker = new PlotMarker { Size = 10 },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "d",
                            HoverInfo = "x+text",
                            X = availableDays.Select(d => d.Date.Plotly()),
                            Y = availableDays.Select(d => (object)(d.Deaths)),
                            Texts = availableDays.Select(d => $"Skutečně mrtvých: {(d.Deaths).Pretty()}")
                        },
                        new PlotData() {
                            Name = "Skutečně uzdravených",
                            Line = new PlotLine { Color = "#00bc8c" },
                            Marker = new PlotMarker { Size = 10 },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "r",
                            HoverInfo = "x+text",
                            X = availableDays.Select(d => d.Date.Plotly()),
                            Y = availableDays.Select(d => (object)(d.Recoveries)),
                            Texts = availableDays.Select(d => $"Skutečně uzdravených: {(d.Recoveries).Pretty()}")
                        },

                        new PlotData() {
                            Name = "Horní odhad",
                            Line = new PlotLine { Color = "#00000000", Shape = PlotLine.ShapeMode.Spline },
                            Mode = PlotData.DataMode.Lines,
                            ShowLegend = false,
                            LegendGroup = "i",
                            HoverInfo = "skip",
                            X = Model.STIRDCzech.Select(d => d.Date.Plotly()),
                            Y = Model.STIRDCzech.Select(d => (object)(d.DataI + d.SigmaI))
                        },
                        new PlotData() {
                            Name = "Dolní odhad",
                            Line = new PlotLine { Color = "#00000000", Shape = PlotLine.ShapeMode.Spline },
                            Mode = PlotData.DataMode.Lines,
                            Fill = PlotData.FillMode.ToNextY,
                            FillColor = "#6f42c150",
                            ShowLegend = false,
                            LegendGroup = "i",
                            HoverInfo = "skip",
                            X = Model.STIRDCzech.Select(d => d.Date.Plotly()),
                            Y = Model.STIRDCzech.Select(d => (object)Math.Max(0, d.DataI - d.SigmaI))
                        },
                        new PlotData() {
                            Name = "Aktuálně nemocných (I)",
                            Line = new PlotLine { Color = "#6f42c1", Dash = PlotLine.DashMode.Dot, Shape = PlotLine.ShapeMode.Spline },
                            Mode = PlotData.DataMode.Lines,
                            LegendGroup = "i",
                            HoverInfo = "x+text",
                            X = Model.STIRDCzech.Select(d => d.Date.Plotly()),
                            Y = Model.STIRDCzech.Select(d => (object)d.DataI),
                            Texts = Model.STIRDCzech.Select(d => $"Aktuálně nemocných (I): {d.DataI.Pretty()} \u00B1 {d.SigmaI.Pretty()}")
                        },

                        new PlotData() {
                            Name = "Horní odhad",
                            Line = new PlotLine { Color = "#00000000", Shape = PlotLine.ShapeMode.Spline },
                            Mode = PlotData.DataMode.Lines,
                            ShowLegend = false,
                            LegendGroup = "d",
                            HoverInfo = "skip",
                            X = Model.STIRDCzech.Select(d => d.Date.Plotly()),
                            Y = Model.STIRDCzech.Select(d => (object)(d.DataD + d.SigmaD))
                        },
                        new PlotData() {
                            Name = "Dolní odhad",
                            Line = new PlotLine { Color = "#00000000", Shape = PlotLine.ShapeMode.Spline },
                            Mode = PlotData.DataMode.Lines,
                            Fill = PlotData.FillMode.ToNextY,
                            FillColor = "#E74C3C50",
                            ShowLegend = false,
                            LegendGroup = "d",
                            HoverInfo = "skip",
                            X = Model.STIRDCzech.Select(d => d.Date.Plotly()),
                            Y = Model.STIRDCzech.Select(d => (object)Math.Max(0, d.DataD - d.SigmaD))
                        },
                        new PlotData() {
                            Name = "Mrtvých (D)",
                            Line = new PlotLine { Color = "#E74C3C", Dash = PlotLine.DashMode.Dot, Shape = PlotLine.ShapeMode.Spline },
                            Mode = PlotData.DataMode.Lines,
                            LegendGroup = "d",
                            HoverInfo = "x+text",
                            X = Model.STIRDCzech.Select(d => d.Date.Plotly()),
                            Y = Model.STIRDCzech.Select(d => (object)d.DataD),
                            Texts = Model.STIRDCzech.Select(d => $"Mrtvých (D): {d.DataD.Pretty()} \u00B1 {d.SigmaD.Pretty()}")
                        },

                        new PlotData() {
                            Name = "Horní odhad",
                            Line = new PlotLine { Color = "#00000000", Shape = PlotLine.ShapeMode.Spline },
                            Mode = PlotData.DataMode.Lines,
                            ShowLegend = false,
                            LegendGroup = "r",
                            HoverInfo = "skip",
                            X = Model.STIRDCzech.Select(d => d.Date.Plotly()),
                            Y = Model.STIRDCzech.Select(d => (object)(d.DataR + d.SigmaR))
                        },
                        new PlotData() {
                            Name = "Dolní odhad",
                            Line = new PlotLine { Color = "#00000000", Shape = PlotLine.ShapeMode.Spline },
                            Mode = PlotData.DataMode.Lines,
                            Fill = PlotData.FillMode.ToNextY,
                            FillColor = "#00bc8c50",
                            ShowLegend = false,
                            LegendGroup = "r",
                            HoverInfo = "skip",
                            X = Model.STIRDCzech.Select(d => d.Date.Plotly()),
                            Y = Model.STIRDCzech.Select(d => (object)Math.Max(0, d.DataR - d.SigmaR))
                        },
                        new PlotData() {
                            Name = "Uzdravených (R)",
                            Line = new PlotLine { Color = "#00bc8c", Dash = PlotLine.DashMode.Dot, Shape = PlotLine.ShapeMode.Spline },
                            Mode = PlotData.DataMode.Lines,
                            LegendGroup = "r",
                            HoverInfo = "x+text",
                            X = Model.STIRDCzech.Select(d => d.Date.Plotly()),
                            Y = Model.STIRDCzech.Select(d => (object)d.DataR),
                            Texts = Model.STIRDCzech.Select(d => $"Uzdravených (R): {d.DataR.Pretty()} \u00B1 {d.SigmaR.Pretty()}")
                        },

                        /*new PlotData() {
                            Line = new PlotLine { Color = "#F39C12" },
                            Marker = new PlotMarker { Size = 9, Color = "#00000000", Line = new PlotLine { Color = "#F39C12" } },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "i",
                            ShowLegend = false,
                            HoverInfo = "x+text",
                            X = new [] { todaySir.Date.Plotly() },
                            Y = new [] { (object)(todaySir.Cases-todaySir.Deaths-todaySir.Recoveries) },
                            Texts = new [] { $"Skutečně nemocných (dnes): {(todaySir.Cases-todaySir.Deaths-todaySir.Recoveries).Pretty()}" }
                        },
                        new PlotData() {
                            Line = new PlotLine { Color = "#E74C3C" },
                            Marker = new PlotMarker { Size = 9, Color = "#00000000", Line = new PlotLine { Color = "#E74C3C" } },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "rd",
                            ShowLegend = false,
                            HoverInfo = "x+text",
                            X = new [] { todaySir.Date.Plotly() },
                            Y = new [] { (object)(todaySir.Deaths + todaySir.Recoveries) },
                            Texts = new [] { $"Skutečně M+U (dnes): {(todaySir.Deaths + todaySir.Recoveries).Pretty()}" }
                        }, */
                    }
                }))
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-3 d-flex">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title"><h4>Data modelu STIRD pro ČR (poslední aktualizace @(Model.STIRDDate.ToString("d.M.yyyy")))</h4></div>
                <div class="table-responsive mt-3" style="max-height: 640px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Den</th>
                                <th>T</th>
                                <th>I</th>
                                <th>R</th>
                                <th>D</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach(var day in Model.STIRDCzech.Reverse()) {
                            var daily = Model.PrimaryCountry.Daily.FirstOrDefault(d => d.Date == day.Date);
                            <tr>

                                <td>@day.Date.ToString("d.M.yyyy")</td>
                                <td>@(day.DataT.Pretty(0)) &#177; @(day.SigmaT.Pretty(0))</td>
                                <td>@(day.DataI.Pretty(0)) &#177; @(day.SigmaI.Pretty(0))</td>
                                <td>@(day.DataR.Pretty(0)) &#177; @(day.SigmaR.Pretty(0))</td>
                                <td>@(day.DataD.Pretty(0)) &#177; @(day.SigmaD.Pretty(0))</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6 mb-3 d-flex">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title"><h4>Model SIR-Poisson pro ČR<a href="#about-sir-pois">?</a></h4></div>
                @{
                    var availableDaysSirp = Model.PrimaryCountry.Daily.Skip(1);
                    var availableTodaySirp = Model.PrimaryCountry.Daily.First();

                    var czechSirp = Model.SIRPCzech["Czech Republic"];

                    var confidenceDates = czechSirp.Select(d => d.Date.Plotly()).Prepend(czechSirp.First().Date.AddDays(-1).Plotly());
                    var prevDay = availableDaysSirp.First(d => d.Date == czechSirp.First().Date.AddDays(-1));
                }
                @(await Component.InvokeAsync("Plot", new Plot() {
                    Id = "graph-sirp-czech",
                    // Title = "null",
                    YAxis = "Počet",
                    Height = 640,
                    XRange = (czechSirp.First().Date.AddDays(-5), czechSirp.Last().Date.Plotly()),
                    YRange = (0, czechSirp.Last().DataI),
                    Data = (new PlotData[] {
                        new PlotData() {
                            Name = "Skutečně pozitivních",
                            Line = new PlotLine { Color = "#F39C12" },
                            Marker = new PlotMarker { Size = 10 },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "i",
                            HoverInfo = "x+text",
                            X = availableDaysSirp.Select(d => d.Date.Plotly()),
                            Y = availableDaysSirp.Select(d => (object)d.Cases),
                            Texts = availableDaysSirp.Select(d => $"Skutečně pozitivních: {(d.Cases).Pretty()}")
                        },
                        new PlotData() {
                            Name = "Skutečně mrtvých",
                            Line = new PlotLine { Color = "#E74C3C" },
                            Marker = new PlotMarker { Size = 10 },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "d",
                            HoverInfo = "x+text",
                            X = availableDaysSirp.Select(d => d.Date.Plotly()),
                            Y = availableDaysSirp.Select(d => (object)(d.Deaths)),
                            Texts = availableDaysSirp.Select(d => $"Skutečně mrtvých: {d.Deaths.Pretty()}")
                        },
                        new PlotData() {
                            Name = "Skutečně uzdravených",
                            Line = new PlotLine { Color = "#00bc8c" },
                            Marker = new PlotMarker { Size = 10 },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "r",
                            HoverInfo = "x+text",
                            X = availableDaysSirp.Select(d => d.Date.Plotly()),
                            Y = availableDaysSirp.Select(d => (object)(d.Recoveries)),
                            Texts = availableDaysSirp.Select(d => $"Skutečně uzdravených: {d.Recoveries.Pretty()}")
                        }
                    })
                    .Concat(PlotUtils.DataWithConfidence(czechSirp.Select(d => ((object)d.Date.Plotly(), d.DataI, d.DataIMin, d.DataIMax)), "Pozitivních (I)", "i", "#F39C12", (prevDay.Date, prevDay.Cases)))
                    .Concat(PlotUtils.DataWithConfidence(czechSirp.Select(d => ((object)d.Date.Plotly(), d.DataD, d.DataDMin, d.DataDMax)), "Mrtvých (D)", "d", "#E74C3C", (prevDay.Date, prevDay.Deaths)))
                    .Concat(PlotUtils.DataWithConfidence(czechSirp.Select(d => ((object)d.Date.Plotly(), d.DataR, d.DataRMin, d.DataRMax)), "Uzdravených (R)", "r", "#00bc8c", (prevDay.Date, prevDay.Recoveries)))
                    .Concat(
                        new [] {
                            new PlotData() {
                                Line = new PlotLine { Color = "#F39C12" },
                                Marker = new PlotMarker { Size = 9, Color = "#00000000", Line = new PlotLine { Color = "#F39C12" } },
                                Mode = PlotData.DataMode.Markers,
                                LegendGroup = "i",
                                ShowLegend = false,
                                HoverInfo = "x+text",
                                X = new [] { availableTodaySirp.Date.Plotly() },
                                Y = new [] { (object)availableTodaySirp.Cases },
                                Texts = new [] { $"Skutečně pozitivních (dnes): {availableTodaySirp.Cases.Pretty()}" }
                            },
                            new PlotData() {
                                Line = new PlotLine { Color = "#E74C3C" },
                                Marker = new PlotMarker { Size = 9, Color = "#00000000", Line = new PlotLine { Color = "#E74C3C" } },
                                Mode = PlotData.DataMode.Markers,
                                LegendGroup = "d",
                                ShowLegend = false,
                                HoverInfo = "x+text",
                                X = new [] { availableTodaySirp.Date.Plotly() },
                                Y = new [] { (object)availableTodaySirp.Deaths },
                                Texts = new [] { $"Skutečně mrtvých (dnes): {availableTodaySirp.Deaths.Pretty()}" }
                            },
                            new PlotData() {
                                Line = new PlotLine { Color = "#00bc8c" },
                                Marker = new PlotMarker { Size = 9, Color = "#00000000", Line = new PlotLine { Color = "#00bc8c" } },
                                Mode = PlotData.DataMode.Markers,
                                LegendGroup = "r",
                                ShowLegend = false,
                                HoverInfo = "x+text",
                                X = new [] { availableTodaySirp.Date.Plotly() },
                                Y = new [] { (object)availableTodaySirp.Recoveries },
                                Texts = new [] { $"Skutečně uzdravených (dnes): {availableTodaySirp.Recoveries.Pretty()}" }
                            }
                        }
                    ).ToArray()
                }))
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-3 d-flex">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title"><h4>Model SIR-Poisson pro svět<a href="#about-sir-pois">?</a></h4></div>
                @{
                    availableDaysSirp = Model.WorldData.Daily.Skip(1);
                    availableTodaySirp = Model.WorldData.Daily.First();
                    confidenceDates = Model.SIRPWorld.Select(d => d.Date.Plotly()).Prepend(Model.SIRPWorld.First().Date.AddDays(-1).Plotly());
                    prevDay = availableDaysSirp.First(d => d.Date == Model.SIRPWorld.First().Date.AddDays(-1));
                }
                @(await Component.InvokeAsync("Plot", new Plot() {
                    Id = "graph-sirp-world",
                    // Title = "null",
                    YAxis = "Počet",
                    Height = 640,
                    XRange = (Model.SIRPWorld.First().Date.AddDays(-5), Model.SIRPWorld.Last().Date.Plotly()),
                    YRange = (0, Model.SIRPWorld.Last().DataI),
                    Data = (new PlotData[] {
                        new PlotData() {
                            Name = "Skutečně pozitivních",
                            Line = new PlotLine { Color = "#F39C12" },
                            Marker = new PlotMarker { Size = 10 },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "i",
                            HoverInfo = "x+text",
                            X = availableDaysSirp.Select(d => d.Date.Plotly()),
                            Y = availableDaysSirp.Select(d => (object)d.Cases),
                            Texts = availableDaysSirp.Select(d => $"Skutečně pozitivních: {(d.Cases).Pretty()}")
                        },
                        new PlotData() {
                            Name = "Skutečně mrtvých",
                            Line = new PlotLine { Color = "#E74C3C" },
                            Marker = new PlotMarker { Size = 10 },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "d",
                            HoverInfo = "x+text",
                            X = availableDaysSirp.Select(d => d.Date.Plotly()),
                            Y = availableDaysSirp.Select(d => (object)(d.Deaths)),
                            Texts = availableDaysSirp.Select(d => $"Skutečně mrtvých: {d.Deaths.Pretty()}")
                        },
                        new PlotData() {
                            Name = "Skutečně uzdravených",
                            Line = new PlotLine { Color = "#00bc8c" },
                            Marker = new PlotMarker { Size = 10 },
                            Mode = PlotData.DataMode.Markers,
                            LegendGroup = "r",
                            HoverInfo = "x+text",
                            X = availableDaysSirp.Select(d => d.Date.Plotly()),
                            Y = availableDaysSirp.Select(d => (object)(d.Recoveries)),
                            Texts = availableDaysSirp.Select(d => $"Skutečně uzdravených: {d.Recoveries.Pretty()}")
                        }
                    })
                    .Concat(PlotUtils.DataWithConfidence(Model.SIRPWorld.Select(d => ((object)d.Date.Plotly(), d.DataI, d.DataIMin, d.DataIMax)), "Pozitivních (I)", "i", "#F39C12", (prevDay.Date, prevDay.Cases)))
                    // .Concat(PlotUtils.DataWithConfidence(Model.SIRPWorld.Select(d => ((object)d.Date.Plotly(), d.DataD, d.DataDMin, d.DataDMax)), "Mrtvých (D)", "d", "#E74C3C", (prevDay.Date, prevDay.Deaths)))
                    // .Concat(PlotUtils.DataWithConfidence(Model.SIRPWorld.Select(d => ((object)d.Date.Plotly(), d.DataR, d.DataRMin, d.DataRMax)), "Uzdravených (R)", "r", "#00bc8c", (prevDay.Date, prevDay.Recoveries)))
                    .Concat(
                        new[] {
                            new PlotData() {
                                Line = new PlotLine { Color = "#F39C12" },
                                Marker = new PlotMarker { Size = 9, Color = "#00000000", Line = new PlotLine { Color = "#F39C12" } },
                                Mode = PlotData.DataMode.Markers,
                                LegendGroup = "i",
                                ShowLegend = false,
                                HoverInfo = "x+text",
                                X = new [] { availableTodaySirp.Date.Plotly() },
                                Y = new [] { (object)availableTodaySirp.Cases },
                                Texts = new [] { $"Skutečně pozitivních (dnes): {availableTodaySirp.Cases.Pretty()}" }
                            },
                            new PlotData() {
                                Line = new PlotLine { Color = "#E74C3C" },
                                Marker = new PlotMarker { Size = 9, Color = "#00000000", Line = new PlotLine { Color = "#E74C3C" } },
                                Mode = PlotData.DataMode.Markers,
                                LegendGroup = "d",
                                ShowLegend = false,
                                HoverInfo = "x+text",
                                X = new [] { availableTodaySirp.Date.Plotly() },
                                Y = new [] { (object)availableTodaySirp.Deaths },
                                Texts = new [] { $"Skutečně mrtvých (dnes): {availableTodaySirp.Deaths.Pretty()}" }
                            },
                            new PlotData() {
                                Line = new PlotLine { Color = "#00bc8c" },
                                Marker = new PlotMarker { Size = 9, Color = "#00000000", Line = new PlotLine { Color = "#00bc8c" } },
                                Mode = PlotData.DataMode.Markers,
                                LegendGroup = "r",
                                ShowLegend = false,
                                HoverInfo = "x+text",
                                X = new [] { availableTodaySirp.Date.Plotly() },
                                Y = new [] { (object)availableTodaySirp.Recoveries },
                                Texts = new [] { $"Skutečně uzdravených (dnes): {availableTodaySirp.Recoveries.Pretty()}" }
                            },
                    }).ToArray()
                }))
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col mb-3">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title" id="about-stird"><h4>O modelu STIRD</h4></div>
                <div class="card-text">
                Model je rozšířením klasického SIR modelu o testované. Problémem je, že někteří lidé jsou testováni vícekrát a testování nutně nevyřazuje z rezervoáru nakazitelných lidí. I přes tyto problémy definujme model
                <br>
                <div class="row">
                    <div class="col d-flex" style="justify-content: center;">
                        <ol style="list-style-type: none; padding-left: 0;">
                            <dl><span id="eqt-s1"></span></dl>
                            <dl><span id="eqt-s2"></span></dl>
                            <dl><span id="eqt-s3"></span> </dl>
                            <dl><span id="eqt-s4"></span> </dl>
                            <dl><span id="eqt-s5"></span> </dl>
                        </ol>
                    </div>
                </div>
                Jako volné parametry uvažujeme <span id="alpha1"></span>, <span id="beta1"></span>, <span id="varepsilon1"></span>, <span id="gamma1"></span>, <span id="delta1"></span> a počáteční podmínky <span id="S0"></span>, <span id="T0"></span>, <span id="I0"></span>, <span id="R0"></span>, <span id="D0"></span>. 
                <br>
                </div>
            </div>
        </div>
    </div>
</div>
@* 
<div class="row d-none">
    <div class="col mb-3">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title" id="about-sir"><h4>O modelu SIR</h4></div>
                <div class="card-text">
                Tento model uvažuje 3 skupiny lidí, a sice nakazitelní (<b>S</b>usceptible), nakažení (<b>I</b>nfected) a uzdravení+mrtví (<b>R</b>emoved). Mezi těmito třemi skupinami se přechod lidí v případě jejich konstantního počtu řídí diferenciálními rovnicemi tvaru
                <div class="row">
                    <div class="col d-flex" style="justify-content: center;">
                    <ol style="list-style-type: none; padding-left: 0;">
                        <dl><span id="eqt-1"></span></dl>
                        <dl><span id="eqt-2"></span></dl>
                        <dl><span id="eqt-3"></span></dl>
                    </ol>
                    </div>
                </div>
                kde počet lidí <span id="eqt-4"></span>, míra šíření nákazy <span id="beta"></span> a míra uzdravení <span id="gamma"></span> jsou volné parametry. Význam těchto parametrů je následující:
                <div class="row">
                    <div class="col d-flex" style="justify-content: center;">
                    <ol style="list-style-type: none; padding-left: 0;">
                        <dl><span id="eqt-5"></span> - průměrný čas uzdravení</dl>
                        <dl><span id="eqt-6"></span> - průměrný čas mezi kontakty s lidmi</dl>
                        <dl><span id="eqt-7"></span> - počet sekundárních nakažení</dl>
                    </ol>
                    </div>
                </div>
                 Abychom získali parametry odpovídající viru SARS-CoV-2, byly postupně fitovány všechny státy, ve kterých bylo po dobu posledních 6 dnů alespoň 10 nakažených. Státy které vracely podezřelé parametry (kvůli špatné konvergenci) byly následně vyloučeny a výsledná hodnota byla brána jako průměr těch zbylých. Takto získaný model byl následně optimalizován pomocí grid search, simplex a annealing metod.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-none">
    <div class="col mb-3">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title" id="about-sir"><h4>O modelu SIRT</h4></div>
                <div class="card-text">Připravujeme</div>
                <div class="card-text d-none">
                    Model SIRT uvažuje, oproti SIR, skupinu testovaných lidí. Z důvodu jeho nestability byl námi mírně upraven, viz rovnice níže. Z nich je patrné, že hlavním rozdílem od SIR je přidání nové skupiny testovaných lidí (T), do které se jedinec dostane buď z infikovatelných (S), nebo infikovaných (I). Z ní se následně přesouvá do infikovaných, případně removed. Model neuvažuje možnost nakažení již testovaných lidí, což vzhledem k jejich počtu prozatím nemá velký vliv. Až bude k dispozici více dat, zvážíme jejich opětovné započítání.
                    <div class="row">
                        <div class="col-md-6 d-flex" style="justify-content: center;">
                            <ul style="list-style-type: none; padding-left: 0;">
                                <dl><span id="eqt-s1"></span></dl>
                                <dl><span id="eqt-s2"></span></dl>
                                <dl><span id="eqt-s3"></span> </dl>
                                <dl><span id="eqt-s4"></span></dl>
                                <dl><span id="eqt-s5"></span></dl>
                                <dl><span id="eqt-s6"></span> </dl>
                            </ul>
                        </div>
                        <div class="col-md-6 d-flex" style="justify-content: center;"><img src="~/img/SIRT_tikz.svg" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@

<div class="row">
    <div class="col mb-3">
        <div class="card w-100">
            <div class="card-body">
                <div class="card-title" id="about-sir-pois"><h4>O modelu SIR-Poisson</h4></div>
                <div class="card-text">
                Model je aproximací klasického SIR modelu. Je však citlivější na aktuální vývoj a může být využit např. k odhadu vytížení nemocnic v rámci dní.
                <br>
                 Cílem SIR modelu je stanovit parametry <span id="gamma1"></span> a <span id="beta1"></span> z diferenciálních rovnic výše, které lze však lze odhadnout z pozorování krátkého časového úseku. V našem případě byly vzaty jako průměr vývoje za poslední 4 dny, dle vztahů
                <div class="row">
                    <div class="col d-flex" style="justify-content: center;">
                        <ol style="list-style-type: none; padding-left: 0;">
                            <dl><span id="eqt-p1"></span></dl>
                            <dl><span id="eqt-p2"></span></dl>
                            <dl><span id="eqt-p3"></span> </dl>
                        </ol>
                    </div>
                </div>
                a po každém dalším dni byly přepočítávány. Uvážení pouze nedávného vývoje je kompromisem mezi stabilitou dat a citlivostí na aktuální změny. Tento postup byl aplikován postupně na všechny státy/kraje. Více o modelu najdete ve článku <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5572698/">Methods for estimating disease transmission rates: Evaluating the precision of Poisson regression and two novel methods.</a>
                <br>
                MZČR rozřazuje infikované do krajů se zpožděním, kvůli jejich ověřování. Ani tak však součet krajů nesedí o jednotky až desítky procent a graf je nutné normalizovat.
                </div>
            </div>
        </div>
    </div>
</div>

<script>
const renderMath = (id, math) => katex.render(math, document.getElementById(id), { throwOnError: false });

$(window).on('load', () => {
    // Rovnice sem
    /* renderMath('eqt-1', '\\frac{\\text{d} S}{\\text{d} t}=-\\frac{\\beta S I}{N}');
    renderMath('eqt-2', '\\frac{\\text{d} I}{\\text{d} t}=\\frac{\\beta S I}{N}-\\gamma I');
    renderMath('eqt-3', '\\frac{\\text{d} R}{\\text{d} t}=\\gamma I\\text{,} ');
    renderMath('eqt-5', '\\gamma^{-1}');
    renderMath('eqt-6', '\\beta^{-1}');
    renderMath('eqt-7', 'R_0 = \\frac{\\beta}{\\gamma}');
    renderMath('eqt-4', 'N \\equiv S+I+R ');
    renderMath('beta', '\\beta');
    renderMath('gamma', '\\gamma'); */
    renderMath('beta1', '\\beta');
    renderMath('gamma1', '\\gamma');
    renderMath('eqt-p1', '\\gamma=-\\log{\\left(1-\\frac{I_N}{I}\\right)}');
    renderMath('eqt-p2', 'S = N-I-R-D');
    renderMath('eqt-p3', '\\beta=-\\frac{N}{S} \\log{\\left(1-\\frac{I_N}{N}\\right)}');
    renderMath('eqt-s1', '\\frac{\\partial S}{\\partial t} = - \\alpha S + \\beta T ');
    renderMath('eqt-s2', '\\frac{\\partial T}{\\partial t} =  - (\\beta + \\varepsilon) T + \\alpha S');
    renderMath('eqt-s3', '\\frac{\\partial I}{\\partial t} =  - (\\gamma + \\delta) I + \\varepsilon T');
    renderMath('eqt-s4', '\\frac{\\partial R}{\\partial t} =  + \\gamma I');
    renderMath('eqt-s5', '\\frac{\\partial D}{\\partial t} =  + \\delta I');
    renderMath('alpha1', '\\alpha');
    renderMath('beta1', '\\beta');
    renderMath('delta1', '\\delta');
    renderMath('varepsilon1', '\\varepsilon');
    renderMath('S0', 'S_0');
    renderMath('T0', 'T_0');
    renderMath('I0', 'I_0');
    renderMath('R0', 'R_0');
    renderMath('D0', 'D_0');
    /*renderMath('eqt-s1', '\\frac{d S}{d t} = -\\beta \\frac{SI}{N} - \\delta_S S');
    renderMath('eqt-s2', '\\frac{d I}{d t} = \\beta \\frac{SI}{N} - \\delta_I I - \\gamma I');
    renderMath('eqt-s3', '\\frac{d R}{d t} = \\gamma I + \\delta_T T');
    renderMath('eqt-s4', '\\frac{d T}{d t} = \\delta_I I - \\delta_T T - \\mu T + \\delta_S S');
    renderMath('eqt-s5', '\\frac{d I_T}{d t} = \\mu T - \\gamma I_T');
    renderMath('eqt-s6', '\\frac{d R_T}{d t} = \\gamma I_T');*/
});
</script>
<link rel="stylesheet" href="~/lib/katex/dist/katex.min.css" />
<script type="text/javascript" async src="~/lib/katex/dist/katex.min.js"></script>
