@model koronainfo.Components.Plot

<div id=@Html.Raw(Json.Serialize(Model.Id)) class="w-100">
    <div class="loader-box" style="height: @(Model.Height)px">
        <div class="loader-text">Graf se načítá...</div>
    </div>
</div>
<script>
$(window).one('load plotly', () => {
    var elem = document.getElementById(@Html.Raw(Json.Serialize(Model.Id)));

    if (typeof Plotly === 'undefined') {
        $(elem).find('.loader-text').html('Knihovnu Plotly se nepodařilo načíst, zkuste stránku obnovit');
        return;
    } else {
        $(elem).html('');
    }
    

    Plotly.newPlot(elem,
        @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Data, new System.Text.Json.JsonSerializerOptions { IgnoreNullValues = true })),
        {
            title: @Html.Raw(Json.Serialize(Model.Title)),
            xaxis: { title: @Html.Raw(Json.Serialize(Model.XAxis)), zeroline: false, @if (Model.XRange.HasValue) @Html.Raw($"range: [{Json.Serialize(Model.XRange.Value.Item1)}, {Json.Serialize(Model.XRange.Value.Item2)}]") },
            yaxis: { title: @Html.Raw(Json.Serialize(Model.YAxis)), zeroline: true,  @if (Model.YRange.HasValue) @Html.Raw($"range: [{Json.Serialize(Model.YRange.Value.Item1)}, {Json.Serialize(Model.YRange.Value.Item2)}]")},
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
                color: 'rgb(255,255,255)'
            },
            modebar: {
                bgcolor: 'rgba(0,0,0,0)'
            },
            legend: {
                x: 0,
                y: 1,
                xanchor: 'left',
                bgcolor: '#303030C0',
                tracegroupgap: @Html.Raw(Model.TraceGroupGap)
            },
            height: @Html.Raw(Model.Height),
            margin: {
                t: @Html.Raw(!string.IsNullOrWhiteSpace(Model.Title) ? 64 : 32 ),
                l: 48,
                r: 16,
                b: @Html.Raw(!string.IsNullOrWhiteSpace(Model.XAxis) ? 48 : 32 ),
            },
            dragmode: false,
            hoverlabel: {
                bordercolor: "#303030C0"
            },
            autosize: true,
            hovermode: "x"
        },
        {
            responsive: true,
            modeBarButtonsToRemove: ['select2d', 'lasso2d', 'autoScale2d'],
            modeBarButtonsToAdd: [
                {
                    name: 'Logarithmic/Linear',
                    icon: logIcon,
                    click: gd => {
                        if (!gd.isLog) {
                            Plotly.relayout(gd, 'yaxis.type', 'log');
                            gd.isLog = true;
                        } else {
                            Plotly.relayout(gd, 'yaxis.type', 'linear');
                            gd.isLog = false;
                        }
                    }
                }
            ],
            displaylogo: false,
            displayModeBar: true,
        });
});
</script>